# Environment Variables

# Next.js
NEXT_PUBLIC_API_URL=https://growthvalley-website.onrender.com

NEXT_PUBLIC_SITE_URL=http://localhost:3000
# Site URL

# Analytics (optional)
# NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=GA-XXXXXXXXX